.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
    font-size: medium;
}

.intro-text {
    display: grid;
    flex-flow: column wrap;
    justify-content: center;
    padding: 3rem;
}

.intro-img img{
    display: block;
    max-width: 100%;
    min-height: 100%;
    object-fit: contain;
    padding: 9rem;

}

.top-content {
    max-width: 64rem;
    height: 130rem;
    background: var(--white-color);
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;


}

.top-content h2,
h3 a {
    color: var(--primary-color);
}


.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100%;
}
   

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
    text-align: center;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.grid h3 a {
    color: var(--white-color);
}


.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: center;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
    padding: 2rem;
    
}

.gallery-img {
    width: 100%;
    max-width: 100rem;
    max-height: 100rem;
    overflow: hidden;


}

.gallery-img img {
    transition: all 300ms ease-in-out;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;



}

.gallery-img img:hover {
    transform: translate(-3%, 3%);
    width: 80%;
    background-color: var(--white-color);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form {
    grid-column: span 2;
    padding: 10rem;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 320px;

}

.form-group label {
    display: block;

}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    resize: none;
}

.button-group button {
    border: 0.4rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 2rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}


.button-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
    
}
.form-group ::placeholder {
    color: var( --light-gray-color);

}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background:var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);

}

@media (max-width: 700px) {

    .intro-content {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: var(--gap);
        min-height: 100vh;
        font-size: small;
    }
    
    .intro-text {
        display: grid;
        flex-flow: column wrap;
        justify-content: center;
        padding: 9rem;
    }

    .intro-text {
        display: grid;
        flex-flow: column wrap;
        justify-content: center;
    }
    

    .intro-img {
       padding: 9rem;

    }


    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img img {
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }
    
    .menu-content,
    .menu-content ul {
        flex-direction: column;
    
        justify-content: center;
    
    }
    
    .menu-content {
        height: 100vh;
    }
    
    .menu {
        display: none;
    }
    
    .close-menu {
       display: none;
    }
    
    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    
    .close-menu:checked~.menu {
        display: block;
    }
    
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
    
}